/*Header section*/
header {
    position: absolute;
    width: 100%;
    z-index: 99999999999;
}
#navbar-container-bg {
    background-color: #414c53;
    opacity: 0.85;
    position: absolute;
}

#navbar-container{
    padding: 58px 0;
    background-color: inherit;
    border: 0;
    border-radius: 0;
    margin: 0;
}

#topMenu ul li{
    padding: 0 15px;
}

#topMenu ul li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 18px 21px;
    /*opacity: ;*/
}

#topMenu ul li a:hover,
#topMenu ul li.active a {
    color: #49b0dc;
    background-color: transparent;
    padding: 15px 18px;
    border: 3px solid #4bcaff;
    opacity: 1;
    transition: opacity 0.5s ease-in; /* vendorless fallback */
    -o-transition: opacity 0.5s ease-in; /* opera */
    -ms-transition: opacity 0.5s ease-in; /* IE 10 betas, not needed in final build. */
    -moz-transition: opacity  0.5s ease-in; /* Firefox */
    -webkit-transition: opacity 0.5s ease-in; /*safari and chrome */
}

/*slider section*/
/*CSS for full screen image*/
#slider-container img { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

#slider-container {
    background: url(../img/slider-bg.png) no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
